<md-dialog>
	<md-toolbar>
		<div class="md-toolbar-tools">
			Entry Info
		</div>
	</md-toolbar>
	<md-content>
		<section layout-padding>
			<md-input-container>
				<label>subber</label>
				<input type="text" ng-model="entry.subber" disabled/>
			</md-input-container>
			<md-input-container>
				<label>title</label>
				<input type="text" ng-model="entry.title" disabled/>
			</md-input-container>
			<div class="entry-info-warning" layout="row" ng-show="entry.was_downloaded">
				<div flex offset="20">
					<i class="fa fa-exclamation-triangle"></i>
					This has been downloaded.
				</div>
			</div>
		</section>
		<section layout="row" layout-align="end end">
			<md-button ng-click="cancel()">Cancel</md-button>
			<md-button class="md-primary" ng-click="download()">Download</md-button>
			<md-button class="md-accent" ng-show="entry.is_logged_in" ng-click="hide()">Download to Server</md-button>
		</section>
	</md-content>
</md-dialog>